@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
/* font-family: 'Plus Jakarta Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */




/* RPT 3.0 Styling Starts
========================================================================== */
.toplevel_page_related-posts-thumbnails, .toplevel_page_related-posts-thumbnails *{
	-webkit-font-smoothing: antialiased;
}
.toplevel_page_related-posts-thumbnails .updated.fade {
	margin: 25px 0 0;
	border-radius: 5px;
}
.toplevel_page_related-posts-thumbnails .rpt-setting-heading h2,
.toplevel_page_related-posts-thumbnails .rpt-setting-heading {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin: 0 !important;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap {
	padding-top: 30px;
	display: flex;
	flex-wrap: wrap;
}
.toplevel_page_related-posts-thumbnails .rpt-setting-heading h2 {
    color: #1d2327;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin: 0;
}
.toplevel_page_related-posts-thumbnails #relpoststh-settings {
    border: 0;
    display: flex;
    flex-direction: column;
}
.toplevel_page_related-posts-thumbnails #wpcontent {
	overflow: hidden;
}
.toplevel_page_related-posts-thumbnails #relpoststh-settings .rpth-setting-options,
.toplevel_page_related-posts-thumbnails #relpoststh-settings .rpth-setting-options .postbox,
.toplevel_page_related-posts-thumbnails #relpoststh-settings .rpth-setting-options .postbox .form-table {
	padding: 0 ;
	margin: 0 ;
	border: 0;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .bases-relation-controls-wrap .rpt-radio-wrap:not(:last-of-type) {
	margin-bottom: 20px;
}

/* Settings Navbar Styling 
========================================================================== */
.toplevel_page_related-posts-thumbnails .rpt-navigation-wrapper {
	background-color: #ffffff;
	padding: 8px 0 0 0;
}
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper {
	border: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 1;
    flex-wrap: wrap;
	position: relative;
	padding-top: 0;
}
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper li {
	margin: 0;
	display: flex;
}
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper li:not(:last-child) {
	margin-right: 27px;
}
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab {
	border: 0;
	position: relative;
	color: rgba(24, 40, 57, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
	padding: 16px 20px 16px 48px;
	transition: .3s all;
	margin: 0;
	line-height: 1.33;
	outline: none;
	background: transparent;
	float: none;
}
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab.nav-tab-active,
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab:hover {
	color: #182839;
}
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper:after,
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab:after {
	content: '';
	background-color: #DDE4F3;
	height: 3px;
	width: 100%;
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab:after {
	background-color: #1B69EA;
	z-index: 1;
	opacity: 0;
}
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab.nav-tab-active:after {
	opacity: 1;
}
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab:before {
	background-image: url('../images/sprite.svg');
	background-repeat: no-repeat;
	background-position: center;
	content: '';
	min-width: 25px;
	width: 25px;
	height: 26px;
	left: 16px;
	position: absolute;
	top: 1;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox h2{
	position: relative;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox h2::after{
	background-image: url('../images/icons.png');
	background-repeat: no-repeat;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	width: 22px;
	height: 22px;
	content: '';
	position: absolute;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox.postbox-share h2::after{
	background-position: -22px -1px;
	width: 18px;
	height: 18px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox.postbox-newsletter h2::after{
	background-position: -68px 1px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox.postbox-plugin h2::after{
	background-position: 0 0;
	width: 20px;
	height: 20px;
}
.toplevel_page_related-posts-thumbnails .tabs-toggle {
    display: none;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .rpt-field-description  {
	margin-top: 12px;
	display: block;
	width: 100%;
}
.toplevel_page_related-posts-thumbnails .rpt-top-bar,
.toplevel_page_related-posts-thumbnails .rpt-navigation-wrapper {
	width: calc(100% + 22px);
    margin: 0 0 0 -22px;
	padding-left: 22px;
	box-sizing: border-box;
	position: relative;
	overflow: visible;
}
.toplevel_page_related-posts-thumbnails .rpt-top-bar:after,
.toplevel_page_related-posts-thumbnails .rpt-navigation-wrapper:after {
	content: '';
	background-color: #236BE7;
	height: 100%;
	width: 100vw;
	position: absolute;
	left: 100%;
	top: 0;
}
.toplevel_page_related-posts-thumbnails .rpt-navigation-wrapper:after {
	background-color: #fff;
}

/* Label & Parargaphs Styling Starts
========================================================================== */
.toplevel_page_related-posts-thumbnails #relpoststh-settings .form-table th:first-child {
	color: #182839;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 500;
    width: 28.5%;
    padding-right: 30px;
	font-family: 'Jost', sans-serif; 
	width: 300px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap td label,
.toplevel_page_related-posts-thumbnails .wpbr-wrap td label p, 
.toplevel_page_related-posts-thumbnails .wpbr-wrap td p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #1D2129;
    margin-top: 0;
    display: inline-block;	
	font-family: 'Jost', sans-serif; 
}

/* Check box Styling Starts
========================================================================== */
.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="checkbox"] {
	margin: 0 16px 0 0 !important;
	min-width: 24px;
	width: 24px;
	height: 24px;
	border-radius: 1px;
	border: 2px solid #BEC8DD;
	outline: none;
	font-family: 'Jost', sans-serif; 
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="checkbox"]:focus {
	box-shadow: none;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="checkbox"]:before {
	content: '';
	margin: 0;
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.80416 0.494793L4.18273 6.74007L2.18988 4.10456C1.99047 3.84286 1.69746 3.67281 1.37532 3.63181C1.05318 3.59082 0.728288 3.68225 0.472127 3.88598C0.215966 4.08971 0.0495147 4.38906 0.00939029 4.71817C-0.0307341 5.04728 0.0587552 5.3792 0.258172 5.6409L3.2291 9.52546C3.34423 9.67432 3.49105 9.79443 3.6584 9.87667C3.82575 9.95891 4.00925 10.0011 4.19495 10.0001C4.38167 9.99965 4.5658 9.9555 4.73322 9.87106C4.90064 9.78662 5.04691 9.66413 5.16081 9.51297L10.7481 2.01864C10.9459 1.75362 11.0325 1.41919 10.989 1.08891C10.9454 0.758623 10.7752 0.459547 10.5158 0.257472C10.2564 0.0553974 9.92905 -0.0331236 9.60576 0.0113826C9.28247 0.0558888 8.98973 0.229777 8.79194 0.494793H8.80416Z' fill='%23182839'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: center;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="checkbox"]:checked {
	border-color: #F9C50F;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="checkbox"]:checked::before {
	background-color: #F9C50F;
}

/* Radio box Styling 
   ========================================================================== */
.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="radio"] {
	margin: 0;
	margin-right: 12px;
	min-width: 20px;
	width: 24px;
	height: 24px;
	border: 2px solid #BEC8DD;
	outline: none;
	font-family: 'Jost', sans-serif; 
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="radio"]:focus {
	box-shadow: none;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="radio"]:checked {
	border: 2px solid #182839;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="radio"]:checked::before {
    background-color: #182839;
    position: relative;
    top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	width: 12px;
	height: 12px;
} 

/* Input and Select Styling
========================================================================== */
.toplevel_page_related-posts-thumbnails .s-hidden {
    visibility:hidden;
    padding-right:10px;
}
.toplevel_page_related-posts-thumbnails .select {
    cursor:pointer;
    display:inline-block;
    position:relative;
    border: 0;
	width: 100%;
}
.toplevel_page_related-posts-thumbnails .styledSelect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:white;
    padding:0 10px;
	display: flex;
	align-items: center;
}
.toplevel_page_related-posts-thumbnails .styledSelect:after {
	content: '';
	height: 20px;
	width: 20px;
	position: absolute;
	top: 50%;
	right: 10px;
	left: auto;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
	background-position: center;
	background-size: 18px;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0;
	transform: translatey(-50%);
	transition: .3s all;
}
.toplevel_page_related-posts-thumbnails .styledSelect.active::after {
	transform: translatey(-50%) rotate(-180deg);
}
.toplevel_page_related-posts-thumbnails .styledSelect:active, .styledSelect.active {
    background-color:#eee;
}
.toplevel_page_related-posts-thumbnails .options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:999;
    margin:0 0;
    padding:0 0;
    list-style:none;
    background-color:white;
	box-shadow: 0px 4px 25px 0px rgba(133, 151, 185, 0.25);
	max-width: 425px;
	border-radius: 5px;
	overflow: hidden;
	box-sizing: border-box;
	max-height: 145px;
    overflow-y: auto;
}
.toplevel_page_related-posts-thumbnails .options li {
    margin: 0;
    padding: 12px 16px;
    color: #1D2129;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
    font-family: 'Jost', sans-serif;
	cursor: pointer;
}
.toplevel_page_related-posts-thumbnails .options li:hover,
.toplevel_page_related-posts-thumbnails .options li.active {
	background-image: none;
	background-color: #D3E5FF;
}
.toplevel_page_related-posts-thumbnails .notice-success, div.updated {
	border-left-color: #236BE7;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="text"],
.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="email"],
.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="number"],
.toplevel_page_related-posts-thumbnails .wpbr-wrap select,
.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-choices,
.toplevel_page_related-posts-thumbnails .wpbr-wrap .styledSelect {
	padding: 12px 10px 12px 12px;
	font-size: 16px;
	line-height: 1.3;
	border-radius: 5px;
    border: 1px solid#1D2129;
    background-color: #FFF;
	color: #23282D;
	width: 100%;
	max-width: 425px;
    height: 58px;
	font-family: 'Jost', sans-serif; 
	box-sizing: border-box;
	font-weight: 500;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap select {
	padding-right: 40px;
	background-size: 16px 16px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="text"]:focus,
.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="number"]:focus,
.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="email"]:focus,
.toplevel_page_related-posts-thumbnails .wpbr-wrap select:focus,
.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-choices:focus,
.toplevel_page_related-posts-thumbnails .wpbr-wrap .styledSelect.active,
.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-with-drop.chosen-container-active .chosen-choices{
	border: 1px solid #448AFF;
	box-shadow: none;
}

/* Chosen Styling
========================================================================== */
.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-choices  {
	padding: 3px 8px;
	display: flex;
	align-items: center;
	background-image: none;
	flex-wrap: wrap;
	height: auto;
	min-height: 58px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-choices .search-field input[type='text'] {
	color: #1D2129;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-choices .search-choice {
	color: #1D2129;
	padding: 8px 34px 8px 12px;
	border: 0;
	background-image: none;
	background-color: #D3E5FF;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-choices .search-choice span {
	font-size: 16px;
	line-height: 1.5;
	text-transform: capitalize;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-choices .search-choice .search-choice-close {
	top: 50%;
	transform: translatey(-50%);
	background-position: -42px -10px;
	right: 8px;
	transition: 0s;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-choices .search-choice .search-choice-close:hover {
	background-position: -42px 1px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-choices .search-choice-disabled{
	display: none;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-container {
	width: 100% !important;
	max-width: 425px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-container .chosen-drop {
	box-shadow: 0px 4px 25px 0px rgba(133, 151, 185, 0.25);
	border: 0;
	border-radius: 5px;
	background: #FFF;
	overflow: hidden;
	max-width: 425px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-container .chosen-drop .chosen-results .result-selected,
.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-container .chosen-drop .chosen-results .disabled-result,
.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-container .chosen-drop .chosen-results .active-result {
	padding: 12px 16px;
	color: #1D2129;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.33;
	font-family: 'Jost', sans-serif; 
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-container .chosen-drop .chosen-results .result-selected,.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-container .chosen-drop .chosen-results .disabled-result{
	color: #50555C;
	opacity: .5;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-container .chosen-drop .chosen-results .active-result.highlighted {
	background-image: none;
	background-color: #D3E5FF;
}

/* Buttons Styling
========================================================================== */
.toplevel_page_related-posts-thumbnails .relpoststh input[type="button"],
.toplevel_page_related-posts-thumbnails .relpoststh input[type="submit"],
.toplevel_page_related-posts-thumbnails .relpoststh button:not(.wp-color-result,.notice-dismiss),
.toplevel_page_related-posts-thumbnails .relpoststh .yellow-btn,
.toplevel_page_related-posts-thumbnails .relpoststh .wpbr-sidebar .yellow-btn {
	border-radius: 5px;
	background: linear-gradient(180deg, #FFE690 0%, #F9C50F 100%);
	color: #1D2129;
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 1;
	text-transform: capitalize;
	padding: 16px 15px;
	border: 0;
	transition: .3s all;
	font-family: 'Jost', sans-serif; 
	outline: none;
	height: 60px;
    cursor: pointer;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .rpt-aside-top-bar a.yellow-btn {
	width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toplevel_page_related-posts-thumbnails .relpoststh input[type="submit"] {
	max-width: 270px;
	width: 100%;
}
.toplevel_page_related-posts-thumbnails .relpoststh input[type="button"]:hover,
.toplevel_page_related-posts-thumbnails .relpoststh input[type="submit"]:hover,
.toplevel_page_related-posts-thumbnails.relpoststh button:not(.wp-color-result):hover,
.toplevel_page_related-posts-thumbnails .relpoststh .yellow-btn:hover {
	background: linear-gradient(180deg, #FFE690 50%, #F9C50F 100%);
}
.toplevel_page_related-posts-thumbnails .relpoststh input[type="button"]:focus,
.toplevel_page_related-posts-thumbnails .relpoststh input[type="submit"]:focus,
.toplevel_page_related-posts-thumbnails.relpoststh button:not(.wp-color-result):focus,
.toplevel_page_related-posts-thumbnails .relpoststh .yellow-btn:focus {
	box-shadow: none;
}
.toplevel_page_related-posts-thumbnails .relpoststh form input[type="button"],
.toplevel_page_related-posts-thumbnails .relpoststh form button:not(.wp-color-result) {
	border-radius: 5px;
    border: 2px solid rgba(26, 95, 164, 0.30);
	padding: 8px 15px;
	height: 58px;
	font-size: 16px;
	line-height: 1.33;
	color: #182839;
    outline: none;
	background: transparent;
	background-color: #DEEFFF;
}
.toplevel_page_related-posts-thumbnails .relpoststh form input[type="button"]:hover,
.toplevel_page_related-posts-thumbnails .relpoststh form button:not(.wp-color-result):hover {
	background-color: #ffffff;
}
.toplevel_page_related-posts-thumbnails .relpoststh form input[type="button"] + input[type="button"],
.toplevel_page_related-posts-thumbnails .relpoststh form button:not(.wp-color-result) + button:not(.wp-color-result) {
	background-color: #ffffff;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wp-picker-input-wrap input[type="text"]:hover,
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wp-picker-input-wrap input[type="button"]:hover,
.toplevel_page_related-posts-thumbnails .relpoststh form input[type="button"] + input[type="button"]:hover,
.toplevel_page_related-posts-thumbnails .relpoststh form button:not(.wp-color-result) + button:not(.wp-color-result):hover {
	background: transparent;
	background-color: #DEEFFF;
}

/* Color Picker button styling */
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wp-picker-input-wrap input[type="text"],
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wp-picker-input-wrap input[type="button"] {
    height: 34px;
    padding: 0 15px;
	font-family: 'Jost', sans-serif; 
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wp-color-result {
	border: 1px solid #E0F0FF;
	height: 34px;
    outline: none;
	margin: 0;
	margin-right: 8px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wp-color-result .wp-color-result-text {
	font-size: 16px;
	line-height: 1.33;
	background-color: #E0F0FF;
	border-radius: 0;
	padding: 0 12px;
	display: inline-block;
	height: 100%;
	display: flex;
	align-items: center;
	border: 0;
	color: #182839;
}

/* LI Wrappers Styling
========================================================================== */
.toplevel_page_related-posts-thumbnails .wpbr-wrap .rpt-td-wrap {
	display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap td label {
	max-width: calc(100% - 40px);
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .date_picker_wrap .rpt-td-wrap{
    flex-wrap: wrap;
	max-width: 425px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .rpt-td-wrap .rpt-td-wrap-inner{
    margin-right: 25px;
    display: flex;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .rpt-td-wrap .rpt-td-wrap-inner {
	margin-bottom: 15px;
}
.toplevel_page_related-posts-thumbnails #relpoststh-settings .rpth-setting-options #content_relation_options td label {
	text-transform: capitalize;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .date_picker_wrap .rpt-td-wrap input.hasDatepicker {
	padding-right: 25px; 
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M2 12C2 8.229 2 6.343 3.172 5.172C4.343 4 6.229 4 10 4H14C17.771 4 19.657 4 20.828 5.172C22 6.343 22 8.229 22 12V14C22 17.771 22 19.657 20.828 20.828C19.657 22 17.771 22 14 22H10C6.229 22 4.343 22 3.172 20.828C2 19.657 2 17.771 2 14V12Z' stroke='%2323282D' stroke-width='1.5'/%3E%3Cpath d='M7 4V2.5M17 4V2.5M2.5 9H21.5' stroke='%2323282D' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M18 17C18 17.2652 17.8946 17.5196 17.7071 17.7071C17.5196 17.8946 17.2652 18 17 18C16.7348 18 16.4804 17.8946 16.2929 17.7071C16.1054 17.5196 16 17.2652 16 17C16 16.7348 16.1054 16.4804 16.2929 16.2929C16.4804 16.1054 16.7348 16 17 16C17.2652 16 17.5196 16.1054 17.7071 16.2929C17.8946 16.4804 18 16.7348 18 17ZM18 13C18 13.2652 17.8946 13.5196 17.7071 13.7071C17.5196 13.8946 17.2652 14 17 14C16.7348 14 16.4804 13.8946 16.2929 13.7071C16.1054 13.5196 16 13.2652 16 13C16 12.7348 16.1054 12.4804 16.2929 12.2929C16.4804 12.1054 16.7348 12 17 12C17.2652 12 17.5196 12.1054 17.7071 12.2929C17.8946 12.4804 18 12.7348 18 13ZM13 17C13 17.2652 12.8946 17.5196 12.7071 17.7071C12.5196 17.8946 12.2652 18 12 18C11.7348 18 11.4804 17.8946 11.2929 17.7071C11.1054 17.5196 11 17.2652 11 17C11 16.7348 11.1054 16.4804 11.2929 16.2929C11.4804 16.1054 11.7348 16 12 16C12.2652 16 12.5196 16.1054 12.7071 16.2929C12.8946 16.4804 13 16.7348 13 17ZM13 13C13 13.2652 12.8946 13.5196 12.7071 13.7071C12.5196 13.8946 12.2652 14 12 14C11.7348 14 11.4804 13.8946 11.2929 13.7071C11.1054 13.5196 11 13.2652 11 13C11 12.7348 11.1054 12.4804 11.2929 12.2929C11.4804 12.1054 11.7348 12 12 12C12.2652 12 12.5196 12.1054 12.7071 12.2929C12.8946 12.4804 13 12.7348 13 13ZM8 17C8 17.2652 7.89464 17.5196 7.70711 17.7071C7.51957 17.8946 7.26522 18 7 18C6.73478 18 6.48043 17.8946 6.29289 17.7071C6.10536 17.5196 6 17.2652 6 17C6 16.7348 6.10536 16.4804 6.29289 16.2929C6.48043 16.1054 6.73478 16 7 16C7.26522 16 7.51957 16.1054 7.70711 16.2929C7.89464 16.4804 8 16.7348 8 17ZM8 13C8 13.2652 7.89464 13.5196 7.70711 13.7071C7.51957 13.8946 7.26522 14 7 14C6.73478 14 6.48043 13.8946 6.29289 13.7071C6.10536 13.5196 6 13.2652 6 13C6 12.7348 6.10536 12.4804 6.29289 12.2929C6.48043 12.1054 6.73478 12 7 12C7.26522 12 7.51957 12.1054 7.70711 12.2929C7.89464 12.4804 8 12.7348 8 13Z' fill='%2323282D'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center right 12px;
	background-size: 24px; 
}

/* Aside Bar Code
========================================================================== */
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-tabsWrapper {
	width: calc(100% - 290px);
	margin-right: 40px;
	background-color: #ffffff;
	padding: 35px 70px 50px;
	box-sizing: border-box;
	border-radius: 5px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar {
	padding: 0 !important;
	width: 250px !important;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox {
	padding: 0;
  box-shadow: 0px 8px 20px rgb(0 0 0 / 13%);
  border-radius: 3px;
  border: 0;
  margin-bottom: 40px;
  min-width: 250px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox ul {
	margin: 0;
	padding: 19px 16px 21px 16px;
  }
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox:not(:last-child) {
	margin-bottom: 24px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox h2 {
	background-color: #2271b1;
	padding: 18px 10px 17px 44px;
	font-size: 16px;
	line-height: 19.2px;
	font-weight: 600;
	color: #ffffff;
	border-radius: 3px;
	border-bottom: 0;
	position: relative;
	margin: 0;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox ul li{
    margin-bottom: 20px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox ul li a{
    background-color: transparent;
  padding: 5px 0px 5px 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2271b1;
  display: inline-block;
  border: none;
  outline: none;
  text-decoration: none;
  min-height: auto;
    position: relative;
	transition: all 0.3s ease;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox ul li a:hover{
	text-decoration: underline;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox ul li a:hover::before{
	opacity: .8;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox ul li a:before{
	content: '';
	height: 32px;
	width: 32px;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-image: url(../images/icons.png);
	transition: all 0.3s ease;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox ul li a.twitter::before{
	background-position: -33px -21px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox ul li a.facebook::before{
	background-position: 0 -21px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox ul li a.wordpress::before{
	background-position: -99px -21px;
}
.toplevel_page_related-posts-thumbnails .wpbr-sidebar .postbox li label {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #182839;
	width: 60px;
	padding-right: 10px;
}
.toplevel_page_related-posts-thumbnails .wpbr-sidebar .postbox-newsletter ul li {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: space-between;
}
.rpt_subscribe_warning {
	position: absolute;
	top: 100%;
	margin-top: 0;
	right: 0;
	font-size: 12px;
	color: #bb1111;
	margin-bottom: 5px;
}
.toplevel_page_related-posts-thumbnails .wpbr-sidebar .postbox li input[type="email"], .toplevel_page_related-posts-thumbnails .wpbr-sidebar .postbox li input[type="text"] {
	width: 100%;
	padding: 8px 12px;
	border: 1px solid #1a5fa4;
	border-radius: 5px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #182839;
	width: calc(100% - 70px);
	max-width: calc(100% - 70px);
	height: 38px;
}
.toplevel_page_related-posts-thumbnails .wpbr-sidebar .postbox li #rpt_subscribe_btn {
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	margin-top: 0;
	background: #2271b1;
	padding: 8px 12px;
	height: auto;
	width: 100%;
	max-width: 280px;
	margin-inline: auto;
}
.toplevel_page_related-posts-thumbnails .wpbr-sidebar .postbox ul li:last-child {
	margin-bottom: 0;
}
.toplevel_page_related-posts-thumbnails .wpbr-sidebar .postbox .rpt_return_message {
	display: none;
	margin-bottom: 0;
	margin-top: 20px;
	text-align: center;
	width: 100%;
	color: #2271b1;
	font-weight: 600;
}
.toplevel_page_related-posts-thumbnails .wpbr-sidebar .postbox-newsletter ul li:nth-last-child(2) {
	margin-bottom: 0;
}
.toplevel_page_related-posts-thumbnails .wpbr-sidebar .postbox .plugins_lists ul li a {
	position: relative;
	padding: 5px 0 5px 44px;
	width: auto;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox.postbox-plugin ul li:first-child a:before {
	background-position: 0 -43px;
	background-size: 130px;
}
.toplevel_page_related-posts-thumbnails .wpbr-sidebar .postbox.postbox-plugin ul li:nth-child(2) a::before {
	background-position: -39px -52px;
	background-size: 150px;
}
.toplevel_page_related-posts-thumbnails .wpbr-sidebar .postbox.postbox-plugin ul li:nth-child(3) a::before {
	background-position: -67px -46px;
	background-size: 135px;
}
.toplevel_page_related-posts-thumbnails .wpbr-sidebar .postbox.postbox-plugin ul li:nth-child(4) a::before {
	background-position: -98px -44px;
	background-size: 130px;
}

.rpt-top-bar-content{
    display: flex;
    align-items: center;
    gap: 20px;
}
/* Page Adjustments
========================================================================== */
.toplevel_page_related-posts-thumbnails .wpbr-wrap .rpt-td-wrap.rpt-td-image-wrap {
	flex-direction: column;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap td input[type="text"].rpt_post_include {
    width: calc(100% - 117px);
    margin-right: 6px;
	max-width: 308px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .date_picker_wrap .rpt_clear_date {
	width: 110px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .date_picker_wrap label {
	display: block;
    width: 100%;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-button-container {
	padding: 35px 0 0 0;
	border: 0;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpb-rpt-settings-submit {
	float: none;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .process_custom_images {
	max-width: 425px;
	width: 100%;
	max-height: 350px;
	height: 100%;
	object-fit: contain;
	object-position: left;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .relposts-button-section {
	max-width: 425px;
	width: 100%;
	display: flex;
	gap: 17px;
	margin-top: 20px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .relposts-button-section button {
	margin: 0;
	flex: 1 0 0;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .custom-size-fileds label {
	display: block;
	margin-bottom: 8px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .custom-size-fileds{
	display: flex;
	gap: 18px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .custom-size-fileds .custom-size-fileds-options {
	width: 205px;
	max-width: 50%;
}
.toplevel_page_related-posts-thumbnails form .rpt-no-validate-error {
	margin-top: 8px;
	width: 100%;
	font-style: normal;
}

/* Header Adjustments
========================================================================== */
.toplevel_page_related-posts-thumbnails .rpt-top-bar {
    top: 0;
    background-color: #1B69EA;
    box-sizing: border-box;
	position: absolute;
	top: 0;
	padding-right: 22px;
	padding-top: 23px;	
	padding-bottom: 23px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.toplevel_page_related-posts-thumbnails #wpbody-content {
    position: relative;
    box-sizing: border-box;
	padding-top: 100px;
}
.toplevel_page_related-posts-thumbnails .rpt-top-bar .button {
	min-width: 230px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.toplevel_page_related-posts-thumbnails .rpt-top-bar .rpt-top-bar-content h3 {
    font-size: 20px;
    line-height: 27.24px;
    font-weight: 600;
    color: #ffffff;
	margin: 0;
	padding-right: 30px;
}

/* Date picker styling
========================================================================== */
.toplevel_page_related-posts-thumbnails .ui-widget-header{
    background:#DEEFFF;
    border: 2px solid rgba(26, 95, 164, 0.30);
}
.toplevel_page_related-posts-thumbnails .ui-state-hover, 
.toplevel_page_related-posts-thumbnails .ui-widget-content .ui-state-hover, 
.toplevel_page_related-posts-thumbnails .ui-widget-header .ui-state-hover, 
.toplevel_page_related-posts-thumbnails .ui-state-focus, 
.toplevel_page_related-posts-thumbnails .ui-widget-content .ui-state-focus, 
.toplevel_page_related-posts-thumbnails .ui-widget-header .ui-state-focus{
    background:#DEEFFF;
    border: 1px solid rgba(26, 95, 164, 0.30);
}
.toplevel_page_related-posts-thumbnails .ui-datepicker th{
    color: #182839;
    font-size: 16px;
    line-height: 1.33;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
}
.toplevel_page_related-posts-thumbnails .ui-state-default, 
.toplevel_page_related-posts-thumbnails .ui-widget-content .ui-state-default, 
.toplevel_page_related-posts-thumbnails .ui-widget-header .ui-state-default{
    background:#DEEFFF;
    border: 2px solid rgba(26, 95, 164, 0.30);
    text-align: center;
}
.toplevel_page_related-posts-thumbnails .ui-state-highlight, 
.toplevel_page_related-posts-thumbnails .ui-widget-content .ui-state-highlight, 
.toplevel_page_related-posts-thumbnails .ui-widget-header .ui-state-highlight{
    background: none;
}
.toplevel_page_related-posts-thumbnails .ui-widget-content{
        border: 1px solid#1D2129;
}
.toplevel_page_related-posts-thumbnails .ui-state-active, 
.toplevel_page_related-posts-thumbnails .ui-widget-content .ui-state-active, 
.toplevel_page_related-posts-thumbnails .ui-widget-header .ui-state-active{
    background: rgba(26, 95, 164, 0.30);
}



/* Icons Adjustments
========================================================================== */
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab#content_general_options-tab:before {
	background-position: -139px -32px;
}
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab#content_general_options-tab.nav-tab-active:before {
	background-position: -114px -32px;
}
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab#content_thumbnail_options-tab:before {
	background-position: -26px -60px;
}
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab#content_thumbnail_options-tab.nav-tab-active:before {
	background-position: -1px -60px;
}
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab#content_style_options-tab::before {
	background-position: -76px -60px;
}
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab#content_style_options-tab.nav-tab-active:before {
	background-position: -51px -60px;
}
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab#content_relation_options-tab:before {
	background-position: -126px -60px;
}
.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab#content_relation_options-tab.nav-tab-active:before {
	background-position: -101px -60px;
}
/* RPT New Aside Styling
========================================================================== */
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar.rpt-side-bar .postbox {
	background: linear-gradient(180deg, #07072f 0%, #0f0f5f 100%);
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar.rpt-side-bar .postbox h3,
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar.rpt-side-bar .postbox h4,
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar.rpt-side-bar .postbox p {
	margin: 0; 
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .rpt-aside-top {
	padding: 40px 20px 40px 20px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .rpt-aside-top .rpt-aside-top-bar:not(:last-child) {
	border-bottom: 1px solid rgba(255, 255, 255, 0.60);
	margin-bottom: 25px;
	padding-bottom: 25px;
} 
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .rpt-aside-top .rpt-aside-logo-bar {
	display: flex;
	align-items: center;
	padding-left: 5px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .rpt-aside-top .rpt-aside-logo-bar h3 {
	color: #EAECEE;
	font-size: 21px;
	font-weight: 500;
	line-height: 1.37;
	font-family: 'Jost', sans-serif;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .rpt-aside-top .rpt-aside-logo-bar .rpt-aside-top-logo {
	width: 79px;
	min-width: 79px;
	height: 79px;
	margin-right: 15px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .rpt-aside-top .rpt-aside-logo-bar .rpt-aside-top-logo img {
	max-width: 100%;
	max-height: 100%;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .rpt-aside-top .rpt-aside-top-bar.rpt-premiuum-features-bar {
	padding-bottom: 40px;
	margin-bottom: 30px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .rpt-aside-top .rpt-aside-top-bar.rpt-premiuum-features-bar p {
	font-family: 'Jost', sans-serif;
	color: #EAECEE;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.87;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .rpt-aside-top .rpt-aside-top-bar.rpt-premiuum-features-bar .rpt_update_heading {
    font-family: 'Jost', sans-serif;
	font-size: 35px;
	font-weight: 600;
	line-height: 48px;
	color: #fff;
	margin-left: 1px;
	margin-bottom: 11px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .rpt-aside-top .rpt-aside-top-bar.rpt-premiuum-features-bar .rpt_update_heading span {
	color: #F9C50F
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .rpt-aside-top-bar.rpt-premiuum-features-bar .rpt-list-style {
	margin-top: 19px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .rpt-list-style {
	padding: 0; 
	margin: 0;
	list-style: none;
}
.toplevel_page_related-posts-thumbnails .rpt-list-style li {
	color: #EAECEE;
	font-family: 'Jost', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding-left: 26px;
	position: relative;
	margin-bottom: 0;
}
.toplevel_page_related-posts-thumbnails .rpt-list-style li:not(:last-child) {
	margin-bottom: 18px;
}
.toplevel_page_related-posts-thumbnails .rpt-list-style li::after {
	content: '';
	width: 16px;
	height: 16px;
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Union' fill-rule='evenodd' clip-rule='evenodd' d='M14.6308 7.93407C14.7812 7.78404 14.9852 7.69976 15.1979 7.69976C15.4106 7.69976 15.6147 7.78404 15.7651 7.93407C15.9155 8.0841 16 8.28758 16 8.49976C16 10.6215 15.155 12.6563 13.6508 14.1566C12.1466 15.6569 10.1064 16.4998 7.97917 16.4998C5.87262 16.4949 3.85381 15.6578 2.36459 14.1718C1.24104 13.0572 0.473683 11.6356 0.159366 10.0864C-0.154951 8.53729 -0.00214759 6.93 0.598494 5.46738C1.19914 4.00477 2.2207 2.75238 3.53426 1.86828C4.84782 0.984172 6.39452 0.507967 7.97917 0.499756C8.61927 0.502402 9.257 0.57755 9.88011 0.723756C9.98796 0.74282 10.0908 0.783717 10.1822 0.843925C10.2736 0.904133 10.3516 0.982375 10.4116 1.07383C10.4715 1.16528 10.512 1.26801 10.5306 1.37568C10.5492 1.48334 10.5455 1.59367 10.5197 1.69985C10.4939 1.80603 10.4466 1.90581 10.3806 1.99305C10.3147 2.08029 10.2315 2.15314 10.1363 2.2071C10.041 2.26106 9.93573 2.29499 9.82683 2.3068C9.71794 2.3186 9.60777 2.30804 9.50313 2.27576C9.00307 2.16197 8.49206 2.10296 7.97917 2.09976C7.13334 2.09704 6.29546 2.26262 5.51457 2.58681C4.73368 2.91099 4.02546 3.38726 3.43136 3.98776C2.53797 4.88414 1.93069 6.02431 1.68609 7.26447C1.4415 8.50463 1.57055 9.78926 2.05697 10.9564C2.54339 12.1235 3.36539 13.1208 4.41933 13.8226C5.47327 14.5244 6.71195 14.8992 7.97917 14.8998C9.68097 14.8998 11.3131 14.2255 12.5164 13.0252C13.7198 11.825 14.3958 10.1971 14.3958 8.49976C14.3958 8.28758 14.4803 8.0841 14.6308 7.93407ZM5.57292 7.69648C5.78652 7.69648 5.99136 7.78111 6.1424 7.93175L7.97917 9.73175L12.9681 3.97175C13.1113 3.82308 13.3065 3.73528 13.513 3.72663C13.7195 3.71799 13.9213 3.78918 14.0765 3.92536C14.2316 4.06154 14.3281 4.25219 14.3457 4.45758C14.3634 4.66296 14.3009 4.86721 14.1713 5.02775L8.55667 11.4278C8.48422 11.5101 8.39557 11.5768 8.29623 11.6236C8.19689 11.6703 8.08897 11.6963 7.97917 11.6998C7.87361 11.7004 7.76897 11.6802 7.67124 11.6404C7.57352 11.6006 7.48464 11.5419 7.40969 11.4678L5.00344 9.06775C4.8524 8.91711 4.76755 8.71279 4.76755 8.49975C4.76755 8.28671 4.8524 8.08239 5.00344 7.93175C5.15448 7.78111 5.35932 7.69648 5.57292 7.69648Z' fill='%23EAECEE'/%3E%3C/svg%3E%0A");
	position: absolute;
	left: 0;
	top: 3px;
}
.toplevel_page_related-posts-thumbnails .rpt-aside-top-bar.rpt-upgrade-pro-bar {
	max-width: 268px;
	margin-left: auto;
	margin-right: auto;
}
.toplevel_page_related-posts-thumbnails .rpt-aside-top-bar.rpt-upgrade-pro-bar h3 {
	color: #FFF;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 21px !important;
}
.toplevel_page_related-posts-thumbnails .rpt-aside-top-bar.rpt-upgrade-pro-bar button {
	width: 100%;
}
.toplevel_page_related-posts-thumbnails .rpt-aside-top-bar.rpt-upgrade-pro-bar .rpt-discount-noti {
	color: rgba(255, 255, 255, 0.60);
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-top: 16px !important;
	text-align: center;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .rpt-aside-bottom {
	background-color: #01122E;
	padding: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .rpt-aside-bottom .rpt-bottm-headline {
	color: #FFF;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 10px !important;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .rpt-aside-bottom .rpt-own-img-wrap {
	width: 165px;
	height: 32px;
}
.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .rpt-aside-bottom .rpt-own-img-wrap img {
	max-height: 100%;
	max-width: 100%;
}

@media screen and (max-width: 1640px) {
	.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-tabsWrapper {
		margin-right: 25px;
		padding: 25px 40px 30px;
	}
	.toplevel_page_related-posts-thumbnails #relpoststh-settings .form-table th:first-child{
		width: 160px;
	}
}

@media screen and (max-width: 1170px) {
	.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-tabsWrapper {
		width: 100%;
		padding: 30px 15px 30px;
		margin-right: 0;
	}
	.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar {
		width: 100% !important;
		margin-top: 30px;
		display: flex;
		display: flex;
        margin-top: 30px;
        flex-wrap: wrap;
        width: calc(100% + 30px) !important;
        margin: 30px -15px 0 !important;
	}
	.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox {
	    width: 100% !important;
        margin: 0 15px 0;
	}	
	.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox:not(:last-child) {
        border-bottom: 0px solid #BEC8DD;
        padding-bottom: 0px;
        margin-bottom: 28px;
    }
}

@media screen and (max-width: 980px) {
    .toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox {
        width: 100% !important;
        margin: 0;
	}
	.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar .postbox:not(:last-child) {
        border-bottom: 1px solid #BEC8DD;
        margin-bottom: 28px;
    }
	.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-sidebar {
		width: 100% !important;
		margin: 30px 0 0 !important
	}
	.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="text"], 
	.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="email"], 
	.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="number"], 
	.toplevel_page_related-posts-thumbnails .wpbr-wrap select, 
	.toplevel_page_related-posts-thumbnails .wpbr-wrap .styledSelect,
	.toplevel_page_related-posts-thumbnails .relpoststh form input[type="button"], 
	.toplevel_page_related-posts-thumbnails .relpoststh form button:not(.wp-color-result) {
		height: 48px;
	}
	.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-choices {
		min-height: 48px;
	}
	.toplevel_page_related-posts-thumbnails .relpoststh input[type="button"], 
	.toplevel_page_related-posts-thumbnails .relpoststh input[type="submit"], 
	.toplevel_page_related-posts-thumbnails .relpoststh button:not(.wp-color-result,.notice-dismiss), 
	.toplevel_page_related-posts-thumbnails .relpoststh .yellow-btn {
		height: 52px;
	}
	.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-choices .search-choice {
		padding: 3px 34px 3px 12px;
	}
}

@media screen and (min-width: 783px) {
	.toplevel_page_related-posts-thumbnails .nav-tab-wrapper {
		display: flex !important;
	}
}

@media screen and (max-width: 782px) {
	.toplevel_page_related-posts-thumbnails .wpbr-wrap .wpbr-button-container{
		padding-top: 15px;
	}
	.toplevel_page_related-posts-thumbnails .postbox{
		box-shadow: none;
	}
	.toplevel_page_related-posts-thumbnails .wp-picker-container .wp-color-result.button{
		padding-left: 30px;
	}
    .toplevel_page_related-posts-thumbnails #relpoststh-settings .form-table th:first-child {
        width: 100%;
        padding: 0 0 15px 0;
    }
    .toplevel_page_related-posts-thumbnails .wpbr-wrap .form-table tr+tr {
        display: inline-block;
        border-bottom: 1px solid #eee;
        width: 100%;
        margin-bottom: 20px;
    }
    .toplevel_page_related-posts-thumbnails .wpbr-wrap .form-table tr td {
        padding-bottom: 20px;
    }
	.toplevel_page_related-posts-thumbnails .rpt-top-bar .button {
		min-width: auto;
	}
	.toplevel_page_related-posts-thumbnails .rpt-setting-heading h2 {
		margin: 20px 0;
	}
	/* Navbar Responsive
	========================================================================== */
	.toplevel_page_related-posts-thumbnails .nav-tab-wrapper {
		flex-direction: column;
		position: relative;
	}
	.toplevel_page_related-posts-thumbnails .tabs-toggle {
		display: block;
		font-size: 16px;
		font-weight: 500;
		padding: 16px 35px 16px 15px;
		border-radius: 5px;
		border: none;
		position: relative;
		cursor: pointer;
		background-color: #fff;
	}
	.toplevel_page_related-posts-thumbnails .nav-tab-wrapper:after {
		display: none;
	}
	.toplevel_page_related-posts-thumbnails .rpt-navigation-wrapper.active .tabs-toggle {
		border-bottom: 1px solid rgb(0 0 0 / 25%);
		border-radius: 5px 5px 0 0;
	}
	.toplevel_page_related-posts-thumbnails .rpt-navigation-wrapper .nav-tab-wrapper {
		position: absolute !important;
		background-color: #ffffff;
		max-width: 100%;
		top: 100%;
		overflow: hidden;
		width: calc(100% - 22px);
		left: 22px;
		padding: 0 15px;
	}
	.toplevel_page_related-posts-thumbnails .rpt-navigation-wrapper.active .nav-tab-wrapper {
		box-shadow: 0px 5px 10px 0px rgba(133, 151, 185, 0.15);
		border-radius: 0 0 5px 5px;
	}
	.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab:before {
		left: 0;
	}
	.toplevel_page_related-posts-thumbnails .tabs-toggle:after {
		content: '';
		height: 20px;
		width: 20px;
		position: absolute;
		top: 16px;
		right: 16px;
		left: auto;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
		background-position: center;
		background-size: 18px;
		background-repeat: no-repeat;
		background-color: transparent;
		border: 0;
		transition: .3s all;
	}
	.toplevel_page_related-posts-thumbnails .rpt-navigation-wrapper.active .tabs-toggle:after {
		transform: rotate(180deg);
	}
	.toplevel_page_related-posts-thumbnails .nav-tab-wrapper,
	.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab.nav-tab-active:after {
		display: none;
	} 
	.toplevel_page_related-posts-thumbnails .nav-tab-wrapper .nav-tab {
		padding: 12px 15px 12px 35px;
		min-height: auto;
		width: 100%;
		text-align: left;
		font-size: 14px;
		line-height: 21px;
		box-sizing: border-box;
	}
	.toplevel_page_related-posts-thumbnails .rpt-top-bar .rpt-top-bar-content h3 {
		padding-right: 15px;
	}
	.toplevel_page_related-posts-thumbnails .nav-tab-wrapper li:not(:last-child) {
		margin: 0;
		border-bottom: 1px solid #DFF0FF
	}
	.toplevel_page_related-posts-thumbnails .rpt-navigation-wrapper {
		padding-top: 15px;
		background-color: transparent;
	}
	.toplevel_page_related-posts-thumbnails .rpt-navigation-wrapper:after {
		display: none;
	}
	.toplevel_page_related-posts-thumbnails .wpbr-wrap {
		padding-top: 10px;
	}
	.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="text"], 
	.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="email"], 
	.toplevel_page_related-posts-thumbnails .wpbr-wrap input[type="number"], 
	.toplevel_page_related-posts-thumbnails .wpbr-wrap select, 
	.toplevel_page_related-posts-thumbnails .wpbr-wrap .styledSelect,
	.toplevel_page_related-posts-thumbnails .relpoststh form input[type="button"], 
	.toplevel_page_related-posts-thumbnails .relpoststh form button:not(.wp-color-result) {
		height: 40px;
	}
	.toplevel_page_related-posts-thumbnails .wpbr-wrap .chosen-choices {
		min-height: 40px;
	}
	.toplevel_page_related-posts-thumbnails .relpoststh input[type="button"], 
	.toplevel_page_related-posts-thumbnails .relpoststh input[type="submit"], 
	.toplevel_page_related-posts-thumbnails .relpoststh button:not(.wp-color-result,.notice-dismiss), 
	.toplevel_page_related-posts-thumbnails .relpoststh .yellow-btn {
		height: 48px;
	}
	.toplevel_page_related-posts-thumbnails .wpbr-wrap .custom-size-fileds{
		flex-wrap: wrap;
	}
	.toplevel_page_related-posts-thumbnails .wpbr-wrap .custom-size-fileds .custom-size-fileds-options {
		width: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 481px) {
    .toplevel_page_related-posts-thumbnails .wpbr-wrap td input[type="text"].rpt_post_include {
        max-width: 100%;
    }
	.rpt-top-bar-content h3{
		display: none;
	}
}

/* RPT 3.0 Styling Ends
   ========================================================================== */
